$outer-space: #474d49;
$cinereous: #a6988c;
$stone: #d3d1cf;
$snow: #faf6f5;
$isabelline: #ece5df;
$raw-umber: #875e45;
$brown-bark: #653d24;
$smoky-black: #16110e;

:root {
    --app-bg: #{$isabelline};
    --text: #{$smoky-black};
    --button: #{$cinereous};
    --border-button: #{$raw-umber};
    --link: #{$raw-umber};
    --input-bg: #{$snow};
    --input-text: #{$outer-space};
    --active-tab: rgba(0,0,0,0.1);
  }
  
  :root[data-theme='dark'] {
    --app-bg: #{$outer-space};
    --text: #{$isabelline};
    --button: #{$raw-umber};
    --border-button: #{$smoky-black};
    --link: #{$cinereous};
    --input-bg: #{$isabelline};
    --input-text: #{$smoky-black};
    --active-tab: rgba(255,255,255,0.1);
  }

  @media (prefers-color-scheme: dark) {
    :root:not([data-theme='light']):not([data-theme='dark']) {
      --app-bg: #{$outer-space};
      --text: #{$isabelline};
      --button: #{$raw-umber};
      --border-button: #{$smoky-black};
      --link: #{$cinereous};
      --input-bg: #{$isabelline};
      --input-text: #{$smoky-black};
      --active-tab: rgba(255,255,255,0.1);
    }
  }