$outer-space: hsla(140, 4%, 29%, 1);
$cinereous: hsla(28, 13%, 60%, 1);
$snow: hsla(20, 37%, 97%, 1);
$isabelline: hsla(28, 25%, 90%, 1);
$raw-umber: hsla(23, 31%, 40%, 1);
$smoky-black: hsla(23, 21%, 7%, 1);