$outer-space: #363c38;
$cinereous: #a6988c;
$stone: #d3d1cf;
$snow: #faf6f5;
$isabelline: #ece5df;
$raw-umber: #875e45;
$brown-bark: #653d24;
$smoky-black: #16110e;
$graphite: #2c2e30;
$carbon-black: #161a1b;
$light-coral: #ef8e8e;
$mahogamy-red: #ac1717;

:root {
  --app-bg: #{$isabelline};
  --text: #{$smoky-black};
  --button: #{$cinereous};
  --border-button: #{$raw-umber};
  --link: #{$raw-umber};
  --input-bg: #{$snow};
  --input-text: #{$outer-space};
  --alert: #{$light-coral};
  --box: #{$snow};
  --emphasized: rgba(0, 0, 0, 0.1);
}

:root[data-theme='dark'] {
  --app-bg: #{$outer-space};
  --text: #{$isabelline};
  --button: #{$raw-umber};
  --border-button: #{$smoky-black};
  --link: #{$cinereous};
  --input-bg: #{$isabelline};
  --input-text: #{$smoky-black};
  --alert: #{$mahogamy-red};
  --box: #{$graphite};
  --emphasized: rgba(255, 255, 255, 0.1);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']):not([data-theme='dark']) {
    --app-bg: #{$outer-space};
    --text: #{$isabelline};
    --button: #{$raw-umber};
    --border-button: #{$smoky-black};
    --link: #{$cinereous};
    --input-bg: #{$isabelline};
    --input-text: #{$smoky-black};
    --alert: #{$mahogamy-red};
    --box: #{$graphite};
    --emphasized: rgba(255, 255, 255, 0.1);
  }
}
