@use 'vars';

.name-color {
  display: flex;
  justify-content: space-between;

  * {
    width: 33%;
  }
}

.adopter-address-info {
  display: flex;
  flex-direction: column;
}

.species {
  display: flex;
  justify-content: space-between;
  align-items: center;

  * {
    width: 33%;
  }
}

.name-color,
.adopter-city,
.adopter-contact {
  display: flex;
  justify-content: space-between;

  * {
    width: 50%;
  }
}

.animal-page > p {
  padding: 5px 0;
}

.animal-details {
  border: 1px solid var(--link);
  border-top: none;
  border-radius: 8px;

  .animal-details-section {
    padding: 5px 10px;

    p {
      padding-left: 10px;
    }
  }

  .health-historic {
    margin-top: 5px;
    font-size: 0.8rem;

    ul {
      padding-left: 40px;
    }
  }
}

.animal-general-info {
  padding: 5px 0;

  p {
    padding-left: 10px;
  }
}

.animal-form {
  p,
  span,
  label {
    font-size: 0.9rem;
  }

  .notice {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      align-self: center;
      margin-bottom: 5px;
    }
  }

  .form-tab {
    width: 86vw;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .labeled-date,
    .labeled-select,
    .labeled-checkbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }

    .labeled-checkbox {
      margin: 0 10px;
    }
  }

  .health-tab {
    width: 86vw;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .acts-list {
      display: flex;
      flex-direction: column;
      margin: 0 10px;

      li {
        min-height: 36px;
        display: grid;
        gap: 10px;
        grid-template-columns: 3fr 4fr auto;
        align-items: center;

        .action {
          background: transparent;
          border: none;
          display: flex;
          justify-self: end;
          align-self: center;
        }
      }
    }

    .add-act {
      margin: 0 5px;
      padding: 5px 0 10px 0;
      border: 1px solid var(--link);
      border-top: none;
      border-radius: 8px;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 5px;
      place-items: center;
      justify-items: center;
      align-items: center;
    }
  }
}
