@use 'vars';

.name-species-color {
  display: flex;
  justify-content: space-between;

  * {
    width: 33%;
  }
}

.adopter-address-info {
  display: flex;
  flex-direction: column;

  .adopter-city,
  .adopter-contact {
    display: flex;
    justify-content: space-between;

    * {
      width: 50%;
    }
  }
}

.animal-page {
  .fixed-p {
    padding: 5px 0;
  }
}

.animal-details {
  border: 1px solid vars.$raw-umber;
  border-top: none;
  border-radius: 8px;

  .animal-details-section {
    padding: 10px;

    p {
      padding-left: 10px;
    }
  }

  .health-historic {
    margin-top: 5px;
    font-size: 0.8rem;

    ul {
      padding-left: 40px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .animal-details {
    border-color: vars.$cinereous;
  }
}
