@use 'vars';

.name-species-color {
  display: flex;
  justify-content: space-between;

  * {
    width: 33%;
  }
}

.adopter-address-info {
  display: flex;
  flex-direction: column;

  .adopter-city,
  .adopter-contact {
    display: flex;
    justify-content: space-between;

    * {
      width: 50%;
    }
  }
}

.animal-details {
  border: 1px solid var(--link);
  border-top: none;
  border-radius: 8px;

  .animal-details-section {
    padding: 10px;

    p {
      padding-left: 10px;
    }
  }

  .health-historic {
    margin-top: 5px;
    font-size: 0.8rem;

    ul {
      padding-left: 40px;
    }
  }
}

.animal-form {
  p,
  label {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
  }

  .notice {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      align-self: center;
      margin-bottom: 5px;
    }
  }

  .form-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 450px;
    gap: 10px;

    .labeled-date,
    .labeled-select,
    .labeled-checkbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }

    .labeled-checkbox {
      margin: 0 10px;
    }
  }
}