@use 'vars';

.post-animal-form {
  p, label {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
  }

  .notice {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 5px;
  }

  .form-tab {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .name-species-color {
      display: flex;
      justify-content: space-between;

      * {
        width: 33%;
      }
    }

    .adopter-address-info {
      display: flex;
      flex-direction: column;

      .adopter-city, .adopter-contact {
        display: flex;
        justify-content: space-between;

        * {
          width: 50%;
        }
      }
    }

    .labeled-date, .labeled-select, .labeled-checkbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .labeled-checkbox {
      margin: 0 10px;
    }

    button {
      align-self: center;
    }
  }
}

.animal-list {
  ul {
    margin: 5px 25px;

    li {
      line-height: 1.75;
    }
  }
}

.animal-page {
  .fixed-p {
    padding: 5px 0;
  }
}

.animal-details {
  border: 1px solid vars.$raw-umber;
  border-top: none;
  border-radius: 8px;

  .animal-details-section {
    padding: 10px;

    p {
      padding-left: 10px;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .animal-details {
    border-color: vars.$cinereous;
  }
}
