@use 'vars';

.dashboard {
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--app-bg);
  color: var(--text);
  border: 3px solid var(--input-text);
  border-radius: 10px;
  overflow-y: auto;
  z-index: 2;
  opacity: 0.9;

  main {
    padding: 2px;
    flex: 1;
    overflow: auto;
  }
}

.top-menu > nav {
  border-bottom: 2px solid var(--button);
}

footer > nav {
  border-top: 2px solid var(--button);

  a {
    margin-top: 15px;
  }
}

nav {
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  height: 50px;
  font-weight: 700;
  text-shadow: 2px 2px 4px var(--input-text);
  border-bottom: 2px solid var(--button);
  display: flex;
  justify-content: center;
  align-items: center;
}

.orga-select {
  padding: 10px 2px;
  border-bottom: 2px solid var(--button);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  border-bottom: 1px solid var(--button);

  div {
    cursor: pointer;
    user-select: none;
    font-size: 1.1rem;
    flex: 1 1;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }

  .active {
    background-color: var(--active-tab);
    font-weight: 700;
    border-bottom: 3px solid vars.$cinereous;
  }
}

.text-with-link,
.text-with-link > a {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.accept-terms {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.contact-form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  input[type='text'] {
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 20vh;
  }

  .notice {
    text-align: center;
  }

  p, button {
    align-self: center;
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}

.dash-content {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 10px;
}

.notice {
  font-size: 0.85rem;
}

.fixed-p {
  padding: 5px 0;
}

.denied-page {
  margin: 40px 30px;
  text-align: center;
}

.clickable-list {
  ul {
    margin: 5px 25px;
  }

  li {
    line-height: 1.75;
  }
}

.animals-list {
  margin: 0 5px;
  font-size: 0.9rem;
  list-style: none;

  li {
    min-height: 36px;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr auto;
    align-items: center;
    border-bottom: 1px solid var(--button);

    .action {
      display: flex;
      justify-self: end;
      align-self: center;
    }
  }

  :last-child {
    border: none;
  }
}