@use 'vars';

.dashboard {
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  background-color: vars.$isabelline;
  color: vars.$smoky-black;
  border: 3px solid vars.$cinereous;
  border-radius: 10px;
  z-index: 2;
  overflow-y: auto;
  opacity: 0.9;
}

nav {
  padding: 0 10px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  min-height: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  border-bottom: 1px solid vars.$cinereous;

  div {
    cursor: pointer;
    font-size: 1.1rem;
    flex: 1 1;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }

  .active {
    background-color: rgba($color: #000, $alpha: 0.1);
    font-weight: 700;
    border-bottom: 3px solid vars.$cinereous;
  }
}

.register-form {
  p,
  label {
    font-size: 0.9rem;
  }

  h3 {
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
  }

  .notice {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 5px;
  }

  .form-tab {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    .labeled-date,
    .labeled-select,
    .labeled-checkbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .labeled-checkbox {
      margin: 0 10px;
    }

    button {
      align-self: center;
    }
  }
}

.orga-select {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.dash-content {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  gap: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.notice {
  font-size: 0.85rem;
}

.fixed-p {
  padding: 5px 0;
}

.denied-page {
  margin: 40px 30px;
  text-align: center;
}

.entities-list {
  ul {
    margin: 5px 25px;

    li {
      line-height: 1.75;
    }
  }
}

.pending-list {
  h3 {
    text-align: center;
    margin: 10px 0;
  }

  ul {
    margin: 5px 25px;
  }

  li {
    cursor: pointer;
    text-decoration: none;
    color: vars.$raw-umber;
    font-size: 1rem;
    line-height: 1.75;
  }
}

@media (prefers-color-scheme: dark) {
  .dashboard {
    background-color: vars.$outer-space;
    color: vars.$isabelline;
    border: 3px solid vars.$smoky-black;
  }

  .pending-list li {
    color: vars.$cinereous;
  }
}

@media (prefers-color-scheme: dark) {
  .tabs {
    border-color: vars.$raw-umber;

    .active {
      background-color: rgba($color: #fff, $alpha: 0.1);
    }
  }
}
