@use 'vars';

.dashboard {
  position: fixed;
  top: 10px;
  right: 10px;
  bottom: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: var(--app-bg);
  color: var(--text);
  border: 3px solid var(--input-text);
  border-radius: 10px;
  z-index: 2;
  opacity: 0.9;

  main {
    padding: 2px;
    height: 100dvh;
    flex: 1;
    overflow-y: auto;
  }
}

.top-menu > nav {
  border-bottom: 2px solid var(--button);
}

footer > nav {
  border-top: 2px solid var(--button);

  button {
    margin-top: 15px;
  }
}

nav {
  height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  button {
    cursor: pointer;
    background: transparent;
    border: none;
  }
}

.notif-bell {
  position: relative;

  .notif-counter {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid var(--input-text);
    box-shadow: 1px 1px 1px var(--input-text);
    background-color: var(--alert);

    p {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-weight: 700;
    }
  }
}

header {
  height: 50px;
  font-weight: 700;
  text-shadow: 2px 2px 4px var(--input-text);
  border-bottom: 2px solid var(--button);
  display: flex;
  justify-content: center;
  align-items: center;
}

.org-select {
  padding: 10px 2px;
  border-bottom: 2px solid var(--button);
  display: flex;
  justify-content: space-between;
  align-items: center;

  select {
    text-align: center;
  }
}

.notice {
  font-size: 0.85rem;
}

.long-notice {
  padding-top: 5px;
  font-size: 0.8rem;
  text-align: justify;
}

.delete-popup {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  p {
    text-align: center;
  }
}

.yes-no {
  padding: 10px;
  display: flex;
  gap: 5px;
  justify-content: center;
}

.collapse-expand {
  cursor: pointer;
  background: transparent;
  border: none;
  user-select: none;
  color: var(--link);
}

.tips {
  display: flex;
  align-items: center;
  gap: 10px;

  p {
    font-size: 0.8rem;
    text-align: justify;
  }
}

.denied-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90vw;
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: space-evenly;
  margin: 5px;
  border-bottom: 1px solid var(--button);

  div {
    cursor: pointer;
    user-select: none;
    font-size: 1.1rem;
    flex: 1 1;
    padding: 10px;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }

  .active {
    background-color: var(--emphasized);
    font-weight: 700;
    border-bottom: 3px solid var(--link);
  }
}

.text-with-link,
.text-with-link > a {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.accept-terms {
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.contact-form {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  input[type='text'] {
    width: 100%;
  }

  textarea {
    width: 100%;
    height: 20vh;
  }

  .notice {
    text-align: center;
  }

  p,
  button {
    align-self: center;
  }
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
  cursor: default;
}

.dash-contents {
  height: 100%;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .dash-links {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 10px;

    h2 {
      align-self: center;
    }
  }

  .changelog {
    margin: 5px;
    padding: 5px;
    background-color: var(--emphasized);
    border: 2px solid var(--button);
    border-radius: 5px;
    box-shadow: 2px 2px 8px vars.$smoky-black;
    font-size: 0.8rem;
    max-height: 200px;
    overflow-y: auto;

    li {
      margin-left: 20px;
      list-style: disc;
    }
  }
}

.clickable-list {
  ul {
    margin: 5px 25px;
  }

  li {
    line-height: 1.75;
  }
}

.animals-list {
  margin: 0 5px;
  font-size: 0.9rem;
  list-style: none;

  li {
    min-height: 36px;
    display: grid;
    gap: 10px;
    grid-template-columns: 4fr 4fr 4fr auto;
    align-items: center;
    border-bottom: 1px solid var(--button);

    .action {
      display: flex;
      justify-self: end;
      align-self: center;
    }
  }

  :last-child {
    border: none;
  }
}

.delete-account-or-org {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3,
  .notice {
    text-align: center;
  }

  li {
    margin-left: 25px;
  }

  p,
  li {
    font-size: 0.85rem;
    text-align: justify;
  }

  .labeled-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}
