@use 'vars';

.family-address-info {
  display: flex;
  flex-direction: column;

  .family-city,
  .family-contact {
    display: flex;
    justify-content: space-between;

    * {
      width: 50%;
    }
  }
}

.family-contact-display {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.family-animals {
  padding-left: 10px;
}

.families-list {
  margin: 0 5px;
  font-size: 0.9rem;
  list-style: none;

  li {
    min-height: 36px;
    display: grid;
    grid-template-columns: 6fr 6fr auto;
    align-items: center;
    border-bottom: 1px solid vars.$cinereous;

    .action {
      display: flex;
      justify-self: end;
      align-self: center;
    }
  }

  :last-child {
    border: none;
  }
}

@media (prefers-color-scheme: dark) {
  .families-list li {
    border-color: vars.$raw-umber;
  }
}
