@use 'vars';

.family-address-info {
  display: flex;
  flex-direction: column;

  .family-city,
  .family-contact {
    display: flex;
    justify-content: space-between;

    * {
      width: 50%;
    }
  }
}

.family-contact-display {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px;

  .contact-item {
    display: flex;
    gap: 7px;
    align-items: center;
  }
}

.family-animals {
  padding-left: 10px;
}

.families-list {
  margin: 0 5px;
  font-size: 0.9rem;
  list-style: none;

  li {
    min-height: 36px;
    display: grid;
    gap: 10px;
    grid-template-columns: 6fr 6fr auto;
    align-items: center;
    border-bottom: 1px solid var(--button);

    .action {
      display: flex;
      justify-self: end;
      align-self: center;
    }
  }

  :last-child {
    border: none;
  }
}

.family-form {
  p,
  label {
    font-size: 0.9rem;
  }

  .notice {
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 5px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
      align-self: center;
      margin-bottom: 5px;
    }
  }

  .form-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 350px;
    gap: 10px;

    .labeled-date,
    .labeled-select,
    .labeled-checkbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;
    }

    .labeled-checkbox {
      margin: 0 10px;
    }
  }
}

.families-member-manage {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  ul {
    margin-top: 5px;
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      padding: 0 10px;
      min-height: 36px;
      font-size: 0.9rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      border-bottom: 1px solid var(--button);
    }

    :last-child {
      border: none;
    }
  }
}
