@use 'vars';
@use 'global';

.org-page {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.org-wrapper {
  h3 {
    text-align: center;
    margin: 10px 0;
  }

  form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
  }
}

.org-results {
  position: relative;

  form {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  ul {
    width: 90vw;
    background-color: vars.$snow;
    position: absolute;
    top: 2px;
    display: flex;
    flex-direction: column;
    list-style: none;
    z-index: 2;
  }

  li:first-child {
    border-top: 1px solid vars.$outer-space;
  }

  li {
    font-size: 0.8rem;
    cursor: pointer;
    color: vars.$outer-space;
    border-bottom: 1px solid vars.$outer-space;
    border-right: 1px solid vars.$outer-space;
    border-left: 1px solid vars.$outer-space;
    padding: 10px;
  }
}

.members-list {
  margin: 0 5px;
}

.members-list > li {
  min-height: 36px;
  display: grid;
  grid-template-columns: 6fr 6fr auto;
  align-items: center;
  border-bottom: 1px solid vars.$cinereous;

  .action {
    position: relative;
    display: flex;
    justify-self: end;
    align-self: center;

    .action-list {
      width: 50vw;
      position: absolute;
      right: 0px;
      top: 30px;
      background-color: vars.$snow;
      display: flex;
      flex-direction: column;
      list-style: none;
      z-index: 2;

      li:first-child {
        border-top: 1px solid vars.$outer-space;
      }

      li {
        font-size: 0.8rem;
        cursor: pointer;
        color: vars.$outer-space;
        border-bottom: 1px solid vars.$outer-space;
        border-right: 1px solid vars.$outer-space;
        border-left: 1px solid vars.$outer-space;
        padding: 10px;
      }
    }
  }
}

.members-list > li:last-child {
  border: none;
}

@media (prefers-color-scheme: dark) {
  .org-search {
    ul {
      background-color: vars.$isabelline;
    }

    li:first-child {
      border: 1px solid vars.$outer-space;
    }

    li {
      color: vars.$smoky-black;
      border-bottom: 1px solid vars.$outer-space;
      border-right: 1px solid vars.$outer-space;
      border-left: 1px solid vars.$outer-space;
    }
  }

  .members-list li {
    border-color: vars.$raw-umber;
  }
}
