@use 'vars';
@use 'global';

.org-page {
  display: flex;
  flex-direction: column;
  gap: 10px;

  div {
    h3 {
      text-align: center;
      margin: 10px 0;
    }

    form {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 10px;
    }
  }
}

.org-picker {
  padding-top: 5px;
  display: flex;
  flex-direction: column;

  a {
    align-self: center;
  }
}

.admin-transfer {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  p {
    text-align: center;
  }

  .labeled-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}

.org-results {
  position: relative;

  form {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  ul {
    width: 85vw;
    background-color: var(--input-bg);
    position: absolute;
    top: 2px;
    display: flex;
    flex-direction: column;
    list-style: none;
    z-index: 2;
  }

  li:first-child {
    border-top: 1px solid var(--input-text);
  }

  li {
    font-size: 0.8rem;
    cursor: pointer;
    color: var(--input-text);
    border-bottom: 1px solid var(--input-text);
    border-right: 1px solid var(--input-text);
    border-left: 1px solid var(--input-text);
    padding: 10px;
  }
}

.members-list {
  margin: 0 5px;
  font-size: 0.9rem;
}

.members-list > li {
  min-height: 36px;
  display: grid;
  gap: 10px;
  grid-template-columns: 6fr 6fr auto;
  align-items: center;
  border-bottom: 1px solid var(--button);

  .action {
    position: relative;
    display: flex;
    justify-self: end;
    align-self: center;

    .action-list {
      width: 50vw;
      position: absolute;
      right: 0px;
      bottom: 30px;
      user-select: none;
      background-color: vars.$snow;
      display: flex;
      flex-direction: column;
      list-style: none;
      z-index: 2;

      li:first-child {
        border-top: 1px solid var(--input-text);
      }

      li {
        font-size: 0.8rem;
        cursor: pointer;
        color: vars.$outer-space;
        border-bottom: 1px solid var(--input-text);
        border-right: 1px solid var(--input-text);
        border-left: 1px solid var(--input-text);
        padding: 10px;
      }
    }
  }
}

.members-list > li:last-child {
  border: none;
}
