@use 'vars';

.settings {
position: relative;

  .version {
    padding: 2px 5px 5px 5px;
    font-size: 0.7rem;
    opacity: 0.7;
    text-align: right;
  }

  .lang-change, .theme-select {
    margin: 5px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.delete-account {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  h3, .notice {
    text-align: center;
  }

  li {
    margin-left: 25px;
  }

  p, li {
    font-size: 0.85rem;
    text-align: justify;
  }

  .labeled-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
}