@use 'vars';

.settings {
position: relative;

  .version {
    position: absolute;
    top: 20px;
    left: 5px;
    font-size: 0.7rem;
    opacity: 0.7;
  }

  .lang-change, .theme-select {
    margin: 5px 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
